{% extends 'warehouse/categoryprod.html' %}


                {% block content %} 
                {% if page_obj %}
                <div class="pagination">
                    {% for categoryproduct in page_obj %}
                    <article class ="product">
                        
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                        
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        
                        
                        
                        <time class= "date">published: {{categoryproduct.published_date}}</time>
                        <h2><a href="{% url 'product_detail' pk=categoryproduct.pk %}">{{categoryproduct.name}}</a></h2>
                        <p><B>description:</B>{{categoryproduct.description|linebreaksbr}}</p>
                        <p><B>category:</B>{{categoryproduct.category.title|linebreaksbr}}</p>
                        <p><B>price:</B>{{categoryproduct.price|linebreaksbr}}</p>
                        <p><B>brand:</B>{{categoryproduct.brand|linebreaksbr}}</p>
                        <p><B>quantity:</B>{{categoryproduct.quantity|linebreaksbr}}</p>
                    </article>
                    {% endfor %}
                </div>
                    {% else %}
                    <p>No products found.</p>
                {% endif %}   
                {% endblock %}