{% extends 'warehouse/baseprod.html' %}


                {% block content %} 
                {% if page_obj %}
                    {% for product in page_obj %}
                    <article class ="product">
                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                        
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                        
                        
                        <time class= "date">published: {{product.published_date}}</time>
                        <h2><a href="{% url 'product_detail' pk=product.pk %}">{{product.name}}</a></h2>
                        <p><B>description:</B>{{product.description|linebreaksbr}}</p>
                        <p><B>category:</B>{{product.category|linebreaksbr}}</p>
                        <p><B>price:</B>{{product.price|linebreaksbr}}</p>
                        <p><B>brand:</B>{{product.brand|linebreaksbr}}</p>
                        <p><B>quantity:</B>{{product.quantity|linebreaksbr}}</p>
                    </article>
                    {% endfor %}

                    {% else %}
                    <p>No products found.</p>
                {% endif %}   
                {% endblock %}